*{
  padding: 0;
  margin: 0;
}
/* google font */
@font-face {
  font-family: "Libre Baskerville Bold";
  src: url("../font/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}
/* endfont */
.container{
  max-width: 65%;
  margin: 0 auto;
}
header{
  padding-top: 50px;
  padding-bottom: 20px;
  section#header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div:first-child{
      h1{
         font-size: 35px;
         font-family: 'Libre Baskerville Bold', serif;
         span{
           color:red;
         }
      }
    }
    div:last-child{
      ul {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        list-style-type: none;
        li{
          margin:0 15px;
          a{
            display: block;
            font-size: 18px;
            text-decoration: none;
            transition: 0.2s;
            font-family: Helvetica, Tahoma, sans-serif;
            color: #000;
            padding-bottom: 5px;
            border-bottom: 1.5px solid #fff;
            &:hover{
              border-bottom: 1.5px solid red;
            }
          }
        }
      }
    }
  }
  section#header-bottom{
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div.header-bottom-left{
      h2{
        span{
          display: block;
          font-size: 65px;
          font-family: 'Libre Baskerville Bold', serif;
          &:first-child{color:#F24338;}
          &:last-child{
            color: #00184C;
          }
        }
      }
      p{
        margin: 35px 0;
        font-size: 16px;
        line-height: 2em;
        padding-right: 30px;
        color: #776C68;
        font-family: Tahoma, velvetica, sans-serif;
      }
      div#header-bottom-learn-more{
        margin-top: 80px;
        button{
          font-size: 15px;
          font-weight: bold;
          padding: 20px 70px;
          border-radius: 30px;
          text-transform: uppercase;
          border: 3px solid #CC2228;
          background-color: #F24338;
          color: #FFF;
          cursor: pointer;
          outline: inherit;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          margin-left: 20px;
          i{
            font-size: 60px;
            color: #3F8EEC;
            border: 4px solid #3366D6;
            border-radius: 100%;
            cursor: pointer;
          }
        }
      }
    }

  }
}

main{
  section.transimission-mode{
    text-align: center;
    margin-bottom: 60px;
    div.descriptions{
      width: 50%;
      margin: 0 auto;
      margin-bottom: 40px;
      h1{
        font-family: "Libre Baskerville Bold", sans-serif;
        font-size: 45px;
        margin: 25px 0;
        color: #00184C;
      }
      p{
        font-family: Helvetica, sans-serif;
        color: rgb(94, 98, 109);
        line-height: 1.5em;
        font-size: 15px;
      }
    }
    div.elements{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 60px 0;
      div{
        margin-bottom: 40px;
        width: 300px;
        h1{
           color: #00184C;
           font-family: "Libre Baskerville Bold", sans-serif;
           font-size: 25px;
           margin-bottom: 25px;
        }
        p{
          line-height: 1.5em;
          font-weight: roboto, sans-serif;
        }
      }
    }
  }
}
